<%- include("header") %>

<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">General Form</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Admin</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
          <!--begin::Col-->
          <div class="col-12">
            <div class="callout callout-info">
              For detailed documentation of Form visit
              <a
                href="https://getbootstrap.com/docs/5.3/forms/overview/"
                target="_blank"
                rel="noopener noreferrer"
                class="callout-link"
              >
                Bootstrap Form
              </a>
            </div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-6">
            <!--begin::Quick Example-->
            <div class="card card-primary card-outline mb-4">
              <!--begin::Header-->
              <div class="card-header"><div class="card-title">Add Admin</div></div>
              <!--end::Header-->
              <!--begin::Form-->
              <form method="post" action="/insertadmin" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleInputname" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="fname"  value="<% if(old &&old.fname){ %><%= old.fname %><% } %>"/>
                          <% if(errorsData && errorsData.fname){  %>
                          <span style="color: red;">
                          <%= errorsData.fname.msg %>
                          </span>
                          <% } %>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="lname"  value="<% if(old &&old.lname){ %><%= old.lname %><% } %>"/>
                        <% if(errorsData && errorsData.lname){  %>
                          <span style="color: red;">
                          <%= errorsData.lname.msg %>
                          </span>
                          <% } %>
                      </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      name="email"
                      aria-describedby="emailHelp"  value="<% if(old &&old.email){ %><%= old.email %><% } %>"
                    />
                    <% if(errorsData && errorsData.email){  %>
                      <span style="color: red;">
                      <%= errorsData.email.msg %>
                      </span>
                      <% } %>
                   
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"value="<% if(old &&old.password){ %><%= old.password %><% } %>" />
                    <% if(errorsData && errorsData.password){  %>
                      <span style="color: red;">
                      <%= errorsData.password.msg %>
                      </span>
                      <% } %>
                  </div>
                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gender"
                          
                          value="Male"
                          <% if(old &&old.gender){if(old.gender=='Male'){ %><%= 'checked' %><% }} %>
                          checked
                        />
                        
                        <label class="form-check-label"> Male </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gender"
                          id="gridRadios2"
                          value="Female"<% if(old &&old.gender){if(old.gender=='Female'){ %><%= 'checked' %><% }} %>
                        />
                       
                        <label class="form-check-label" for="gridRadios2"> Female </label>
                        <% if(errorsData && errorsData.gender){  %>
                          <span style="color: red;">
                          <%= errorsData.gender.msg %>
                          </span>
                          <% } %>
                      </div>
                     
                    </div>
                </div>
                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Hobby</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="hobby"
                          value="Dancing"
                          <% if(old &&old.hobby){if(old.hobby.include('Dancing')){ %><%= 'checked' %><% }} %>
                        
                        />
                        <label class="form-check-label"> Dancing </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="hobby"
                          value="Travelling" <% if(old &&old.hobby){if(old.hobby.include('Travelling')){ %><%= 'checked' %><% }} %>
                        
                        />
                        <label class="form-check-label"> Travelling </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="hobby"
                          value="Reading"<% if(old &&old.hobby){if(old.hobby.include('Reading')){ %><%= 'checked' %><% }} %> />
                        <label class="form-check-label"> Reading </label>
                      </div>
                      <% if(errorsData && errorsData.hobby){  %>
                        <span style="color: red;">
                        <%= errorsData.hobby.msg %>
                        </span>
                        <% } %>
                     
                    </div>
                </div>
                <% cityarry=["Surat","navsari","vadodra"] %>
                <div class=" col-md-6 mb-3">
                    <label for="validationCustom04" class="form-label">City</label>
                    <select class="form-select" name="city" id="validationCustom04" >
                      <option selected disabled value="">Choose...</option>
                     <% cityarry.map((v,i)=>{ %>
                        <option value="<%= v %>" <% if(old && old.city){ if(old.city==v){ %><%= 'selected' %><% }} %>><%= v %> </option>
                   <%  }) %>
                    </select>
                    <% if(errorsData && errorsData.city){  %>
                      <span style="color: red;">
                      <%= errorsData.city.msg %> 
                      </span>
                      <% } %>
                  </div>
                  <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image"/>
                    <label class="input-group-text" for="inputGroupFile02" name="image">Upload</label>
                  </div>
                 
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </div>
                <!--end::Footer-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Quick Example-->
            <!--begin::Input Group-->
            
            <!--end::Input Group-->
          
          </div>
          
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>

<%-include("footer") %>