<%- include("header") %>


      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <!--begin::Col-->
              <div class="col-lg-3 col-6">
                <!--begin::Small Box Widget 1-->
                <div class="small-box text-bg-primary">
                  <div class="inner">
                    <h3><%= total %></h3>
                    <p>Blog Total</p>
                  </div>
                  <svg
                    class="small-box-icon"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                  >
                    More info <i class="bi bi-link-45deg"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 1-->
              </div>

              
              <!--end::Col-->
              <div class="col-lg-3 col-6">
                <!--begin::Small Box Widget 2-->
                <div class="small-box text-bg-success">
                  <div class="inner">
                    <h3><%= catTotal %></h3>
                    <p>Category Total</p>
                  </div>
                  <svg
                    class="small-box-icon"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                  >
                    More info <i class="bi bi-link-45deg"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 2-->
              </div>
              <div class="col-lg-3 col-6">
                <!--begin::Small Box Widget 2-->
                <div class="small-box text-bg-info">
                  <div class="inner">
                    <h3><%= comTotal %></h3>
                    <p>comments Total</p>
                  </div>
                  <svg
                    class="small-box-icon"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
                    ></path>
                  </svg>
                  <a
                    href="#"
                    class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
                  >
                    More info <i class="bi bi-link-45deg"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 2-->
              </div>
              <!--end::Col-->
            
           
              <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div  >
              <!-- Start col -->
               <!-- chart Start -->
               <div class="row">
                <!-- First Chart -->
                <div class="col-lg-6">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h3 class="card-title">Sales Value</h3>
                    </div>
                    <div class="card-body">
                      <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
              
                <!-- Second Chart -->
                <div class="col-lg-6">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h3 class="card-title">Sales Value</h3>
                    </div>
                    <div class="card-body">
                      <canvas id="myChart1" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Second Row -->
              <div class="row">
                <!-- Third Chart -->
                <div class="col-lg-6">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h3 class="card-title">Sales Value</h3>
                    </div>
                    <div class="card-body">
                      <canvas id="myChart2" width="400" height="200"></canvas>
                    </div>
                  </div>
                </div>
              
              
              </div>
              
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
     

<%- include("footer") %>

<!-- First -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  let myChart;
  let Lable = '<%- JSON.stringify(lableN) %>'; 
  let Lablecat = '<%- JSON.stringify(lableB) %>'; 

  
  function setchartType(typeD) {
    if (myChart) {
      myChart.destroy();
    }
    setchart(typeD); 
  }

  function setchart(typeD) {
    myChart = new Chart(ctx, {
      type: typeD, 
      data: {
        labels: JSON.parse(Lable), 
        datasets: [{
          label: '# of category', 
          data:JSON.parse( Lablecat), 
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true 
          }
        }
      }
    });
  }

  setchart('pie');
</script>
<!-- chart-2 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx1 = document.getElementById('myChart1');

  let myChart1;
  

  
  function setchartType1(typeD) {
    if (myChart1) {
      myChart1.destroy();
    }
    setchart1(typeD); 
  }

  function setchart1(typeD) {
    myChart1 = new Chart(ctx1, {
      type: typeD, 
      data: {
        labels: ['blog'], 
        datasets: [{
          label: '# of category', 
          data:['<%= total%>'], 
          borderWidth: 1,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true 
          }
        }
      }
    });
  }

  setchart1('bar');
</script>

<!-- chart-3 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx2 = document.getElementById('myChart2');

  let myChart2;
  let Lable2 = '<%- JSON.stringify(lableN) %>'; 
  let Lablecat2 = '<%- JSON.stringify(lableb3) %>'; 

  
  function setchartType2(typeD) {
    if (myChart2) {
      myChart2.destroy();
    }
    setchart2(typeD); 
  }

  function setchart2(typeD) {
    myChart2 = new Chart(ctx2, {
      type: typeD, 
      data: {
        labels: JSON.parse(Lable2), 
        datasets: [{
          label: '# of category', 
          data:JSON.parse( Lablecat2), 
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true 
          }
        }
      }
    });
  }

  setchart2('bar');
</script>