<%- include("header") %>


      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Admin</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
          
              
              <!-- /.col -->
             
                
                <!-- /.card -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Profile Detail</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    
                        <img src="<%=  locals.user.image %>" width="100px"/><br/>
                     Name:   <%= locals.user.name %><br/>
                     Email:   <%=  locals.user.email %><br/>
                     Gender:   <%=  locals.user.gender %><br/>
                      Hobby:  <%=  locals.user.hobby %><br/>
                       city: <%=  locals.user.city %>
                        
                   <a href="/updateadmin/?adminid=<%= locals.user._id %>"><button >update</button>
                </a>
              
                      <tbody>
                      
                    
                       
                       
                       
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
             
              <!-- /.col -->
            
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      
<%- include("footer") %>